
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    width: 100%;
}



.form-section {
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px; */
    border-radius: 6px;
    border: 1px solid #80818350;
    background: rgba(135, 134, 134, 0.286);
}

.form-top {
    padding: 1em;
    border-bottom: 1px solid #80818350;
}

form .h3 {
    font-size: 18px;
    color: #c9d1d9;
    font-weight: 400;
}

.form-top .logo img {
    width: 80px;
    height: 40px;
}

.form-top a {
    text-decoration: none;
    color: #c9d1d9;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

/* form wrapper */
.userform {
    padding: 16px;
}

/* form elements */


/* forgot password */
.fpass {
    text-decoration: none;
    font-size: 12px;
    color: #58a6ff !important;
    padding-left: 8px;
}

.form-text{
    margin-top: .5rem;
}

.fpass span {
    font-size: 12px;
}

a.fpass:hover {
    text-decoration: underline;
}


/* submit btn */
.reg-btn {
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
    line-height: 40px;
}

.reg-btn:hover {
    background: rgb(230, 246, 255);
    border-radius: 6px;
}

#login-btn {
    width: 100%;
    background: #238636;
    border: none;
    color: #fff;
}

#login-btn:hover {
    background: #2ea043;
}

form .form-check-input{
    background: none;
    border-color: #30363d;
}

.userform form label{
    color: #c9d1d9;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;
}

.userform .password-reset-link a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}