.spacet50{
    padding-top: 50px;
}

.profile{
    padding: 1.5rem;
}

.profile-left .profile-img-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile-left img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    box-shadow: rgba(142, 124, 124, 0.841) 0px 20px 100px 0px;
    
}

.profile-left .username{
    font-size: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
}

.profile-left span.user-role{
    font-size: 12px;
    color: #e27d11;
    background: #e27d1129;
    padding: .05em .65em;
    border-radius: 2em;
    font-weight: 700;
    text-transform: capitalize;
}

.profile-right{
    box-shadow: none;
    /* border: 1px solid #ddd; */
}

.profile-right .heading{
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #67768b;
    color: #c9d1d9;
}

.user-data-wrap {
    margin-bottom: 1rem;
}


.profile-input{
    background: none !important;
    border: none;
    font-size: 16px;
    color: #c9d1d9 !important;
    font-weight: 500;
    border-bottom: 1px solid #67768b50;
    border-radius: 0;
    padding-left: 0;
}

.profile-input#inputName {
    text-transform: uppercase;
}

form#PasswordChangeForm .profile-input:focus {
    color: #c9d1d9;
}

span.edit-btn{
    position: absolute;
    right: 20px;
    color: #58a6ff;
    font-size: 14px;
    top: 38px;
}

span.edit-btn:hover{
    cursor: pointer;
    color: #7ab6f3;
}

.form-input{
    display: block;
    width: 100%;
    padding: 0.575rem 0.25rem;
    color: #212529;
    /* border-radius: 0.25rem; */
}

.profile-right form{
    padding: 0px 20px 30px 20px;
}

.form-label{
    margin-bottom: 0.2rem;
    font-weight: 500;
    font-size: 14px;
    color: #8b949e;
}

#PasswordChangeForm button,
.profile-form button {
    margin-top: 10px;
    background: #238636;
    border: #238636;
    border-radius: 6px;
    padding: 5px 16px;
    font-weight: 500;
    font-size: 14px;
}

.profile-form button:hover,
.profile-form button:focus,
#PasswordChangeForm button:hover,
#PasswordChangeForm button:focus
{
    background: #2faf48;
    outline: none !important;
}

.relative{
    position: relative;
}

.profile-left ul li{
    list-style-type: none;
    border: 1px solid #fff;
    display: block;
}

.profile-left ul li a{
    padding: 20px;
}

.center{
    text-align: center;
    justify-content: center;
}

.group-buttons a.setting-tabs{
    display: block;
    padding: 10px 40px;
    margin-bottom: 10px;
    /* text-align: center; */
}

a.setting-tabs{
    text-decoration: none;
    color: #c9d1d9 !important;
    font-size: 16px;
    border-radius: 4px;
    text-transform: uppercase;
}

a.setting-tabs:hover{
    color: #c9d1d9;
}

.setting-tabs.active{
    background-color: #4b9def2b;
    color: #4a9ff4 !important;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
    border: none;

}

.profile ul#settings-tab {
    border-color: #67768b;
} 

.profile ul li button.nav-link {
    color: #8b949e;
    font-size: 18px;
    padding: 15px 20px !important;
    border: none !important;
}
.profile ul li button.nav-link.active {
    background: none;
    color: #fff;
    border-bottom: 3px solid #fff !important;
}