.spacet50{
    padding-top: 50px;
}

.profile{
    padding: 1.5rem;
}

.profile-left{
    border-right: 1px solid #21262d;
}

.profile-left .profile-img-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile-left img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    box-shadow: rgba(125, 125, 125, 0.603) 0px 5px 15px;
}

.profile-left .username{
    font-size: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: #fff;
}

.profile-left span.user-role{
    font-size: 11px;
    color: #e27d11;
    background: #e27d1129;
    padding: .05em .65em;
    border-radius: 2em;
    font-weight: 700;
}

.profile-right{
    box-shadow: none;
    /* border: 1px solid #ddd; */
}

.profile-right .heading{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #21262d;
    color: #c9d1d9;
}

.profile-right .details{
    padding: 20px 40px 30px 40px;
}

input[type="text"],
input[type="email"]{
    background: #21262d;
    border: 1px solid #f39837;
    font-size: 14px;
}

input[type="text"]:hover,
input[type="email"]:hover{
    border-color: #ebae6e;
}

span.edit-btn{
    position: absolute;
    right: 20px;
    color: #58a6ff;
    font-size: 14px;
}

span.edit-btn:hover{
    cursor: pointer;
}

.form-input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #212529;
    border-radius: 0.25rem;
}

.form-label{
    margin-bottom: 0.2rem;
    font-weight: 500;
    font-size: 14px;
    color: #8b949e;
}

.details button {
    margin-top: 10px;
    background: #238636;
    border: #238636;
    border-radius: 6px;
    padding: 5px 16px;
    font-weight: 500;
    font-size: 14px;
}

.details button:hover,
.details button:focus{
    
    background: #2ea043;
    outline: none !important;
}



.details{
    text-align: center;

}

.user-data-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.profile-left ul li{
    list-style-type: none;
    border: 1px solid #fff;
    display: block;
}

.profile-left ul li a{
    padding: 20px;
}